$base-color: rgba(88,127,134,1);
$panel-light-header-font-size: 14px;
$base-light-color: mix(white, $base-color, 65%);
$neutral-color: #e1e1e1;
$neutral-light-color: mix(white, $neutral-color, 68%);
$panel-light-header-background-color: mix($base-light-color, $neutral-light-color, 50%);
$panel-header-font-size: 14px;
$panel-frame-border-radius: 0 0 0 0;
$grid-row-cell-focus-border-width: 0 !default;
$button-small-font-size: 13px;
$button-small-border-radius: 2px;
$button-small-line-height: 17px;
$button-medium-border-radius: $button-small-border-radius;
$button-large-border-radius: $button-small-border-radius;
$button-default-background-gradient: none;
$button-default-background-gradient-over: none;
$button-default-background-gradient-pressed: none;
$button-default-background-gradient-disabled: none;
$button-default-glyph-opacity: 0.9;
$button-toolbar-glyph-opacity: 0.9;

// COLOR PALETTE

$exec-dark-background: #3e4752;
$exec-light-background: #ececec;
$exec-tile-background: #ffffff;

$exec-blue-color: #2e6eaf;
$exec-red-color: #f1495b;
$exec-green-color: #11c897;
$exec-yellow-color: #cc9b25;
$exec-light-blue-color: saturate(lighten($exec-blue-color, 53%), 70%);

$exec-font-light-color: #a0a7b8;
$exec-font-color: #878ea2;
$exec-font-dark-color: $exec-dark-background;

//Proxima Nova is preferred font, but it is not a free font.
$exec-font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$exec-font-size-small-content: 11px;
$exec-font-size-content: 12px;
$exec-font-size-small-title: 14px;
$exec-font-size-medium-title: 18px;
$exec-font-size-large-title: 20px;
$exec-font-size-xlarge-title: 28px;

$exec-font-regular: 400;
$exec-font-semibold: 500;
$exec-font-bold: 800;

// GENERAL APP STYLE

$color: $exec-font-dark-color;
$font-family: $exec-font-family;
$body-background-color: $exec-light-background;

// PANEL

$panel-body-color: $exec-font-dark-color;
$panel-body-background-color: $exec-light-background;

// TOOLBAR

//$toolbar-background-color: $exec-light-background;


//.ext-strict .ext-ie .x-tree .x-panel-bwrap{
//  position:relative;
//  overflow:hidden;
//}


// GRID
.x-grid-filters-filtered-column span {
  text-decoration: underline;
  //color: #b37532;
}


$active: #12C897;
$paused: #C8C8C8;
$ended: #F1485B;

.kpi-main {

  .kpi-toolbar {
    padding: 0 0 10px 0 !important;
    background-color: $exec-light-background;
  }

  .kpi-chart-title {
    margin-top: 3px !important;
    color: $exec-font-color;
    font-size: $exec-font-size-small-title;
    font-weight: $exec-font-bold;
  }

  .kpi-meta-charts-body {
    overflow: visible;
    padding-bottom: 20px;

    .x-box-inner {
      overflow: visible;
    }

    .x-panel {
      overflow: visible;
    }
  }

  .kpi-main-chart {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

    overflow: visible;

    .x-panel-body {
      border-radius: 3px;

      -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.25);
      box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.25);

      z-index: 1000;
    }
  }

  .kpi-meta-charts {
    margin-bottom: 0;
    overflow: visible;

    .x-panel-body, .x-panel, .x-box-inner {
      overflow: visible;

    }
    .kpi-in-store, .kpi-online {
      padding-left: 30px;
      font-size: $exec-font-size-content;
      font-weight: $exec-font-bold;
      color: $exec-font-light-color;

      span {
        margin-right: 15px;
      }
      span:first-child {
        float: left;
      }
      span:nth-child(2) {
        float: right;
      }
    }

    .kpi-online {
      padding-bottom: 10px;
    }
    .kpi-in-store:before, .kpi-online:before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 6px;
      display: block;
      position: absolute;
      left: 10px;
      margin-top: 2px;
    }
    .kpi-in-store:before {
      background-color: #2ac8ef;
    }
    .kpi-online:before {
      background-color: #11c897;
    }
    .x-panel-header {
      background-color: $exec-light-background;
      margin: 15px 0 10px 0;
      padding: 0 !important;

      .x-title {
        line-height: $exec-font-size-small-title;
      }

      .x-title-text {
        color: $exec-font-color;
        font-size: $exec-font-size-small-title;
        font-weight: $exec-font-bold;
      }
    }

    .x-column-header {
      border: none;
      background-color: #fff;
    }

    .x-grid-header-ct {
      border: none;
    }

    .x-grid-item, .x-column-header {
      color: #7E8390;
      font-weight: normal;
    }

    .x-grid-body {
      border-top-color: #EFE2E2;
    }

    .redemption-body, .statistics-body, .statistics-totals-body  {
      border-radius: 3px;

      -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.25);
      box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.25);

      background-color: $exec-tile-background;
    }

    .redemption-body {
      margin-right: 10px;
    }

    .statistics-body {
      margin-right: 20px;
      padding: 15px;
    }

    .statistics-totals-body {
      //margin-right: 20px;
      padding: 15px;
    }

    .statistics-totals-body hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #E6E6E6;
      margin: 18px 0 8px;
      padding: 0;
    }

    .statistic-header {
      font-size: $exec-font-size-content;
      font-weight: $exec-font-semibold;
      text-transform: uppercase;
      color: $exec-font-light-color;
      margin-bottom: 15px;
    }

    .statistic-totals-header {
      font-size: $exec-font-size-content;
      font-weight: $exec-font-bold;
      line-height: 100%;
      text-transform: uppercase;
      color: #585858;
      width: 100%;
      margin: 22px 0 12px;
      padding:  0 0 0 5px;
      //border-radius: 2px;
      //background-color: #cfcfc4;
      border-left: 4px solid #585858;
    }

    .statistic-totals-header-total {
      font-size: 14px;
      font-weight: $exec-font-bold;
      color: $exec-font-color;
      text-transform: uppercase;
      margin-bottom: 15px;
      border-bottom: 1px solid $exec-font-color;
    }

    .statistic-totals-header-total span {
      float: right;
    }

    .sparkline {
      height: 7px;
      margin-left: 135px;
      background-color: #e6e7eb;
      clear: both;
      border-radius: 4px;
      margin-bottom: 10px;

      .sparkline-inner {
        height: 100%;
        border-radius: 4px;
      }
      .sparkline-inner-active {
        background-color: $active;
      }
      .sparkline-inner-paused {
        background-color: $paused;
      }
      .sparkline-inner-ended {
        background-color: $ended;
      }
    }
    .statistic-tag {
      width: 120px;
      padding: 5px 0 5px 0;
      font-size: $exec-font-size-small-content;
      font-weight: $exec-font-semibold;
      color: white;
      border-radius: 3px;
      text-transform: uppercase;
      text-align: center;
      float: left;
      &.active {
        background-color: $active;
      }
      &.paused {
        background-color: $paused;
      }
      &.ended {
        background-color: $ended;
      }
    }
    .statistic-description, .statistic-totals-description {
      line-height: 27px;
      font-size: $exec-font-size-small-content;
      font-weight: $exec-font-bold;
      float:left;
      margin-left: 15px;
      color: $exec-font-light-color;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .statistic-totals-description {
      float: none;
      line-height: 119%;
      margin-left: 0;
      white-space: normal;
    }

    .statistic-totals-description span {
      font-size: 13px;
      float: right;
    }

    .sparkline-totals {
      height: 7px;
      //margin-left: 135px;
      background-color: #e6e7eb;
      clear: both;
      border-radius: 4px;
      margin-bottom: 12px;
      margin-top: 2px;

      .sparkline-totals-inner {
        height: 100%;
        border-radius: 4px;
      }
      .sparkline-totals-inner-blue {
        background-color: #AEC6CF;
      }
      .sparkline-totals-inner-green {
        background-color: #77DD77;
      }
      .sparkline-totals-inner-darkgreen {
        background-color: #12C897;
      }
      .sparkline-totals-inner-yellow {
        background-color: #fde914;
      }
      .sparkline-totals-inner-gray {
        background-color: #cfcfc4;
      }
      .sparkline-totals-inner-red {
        background-color: #ff6961;
      }
      .sparkline-totals-inner-purple {
        background-color: #b39eb5;
      }
      .sparkline-totals-inner-darkblue {
        background-color: #779ecb;
      }
      .sparkline-totals-inner-orange {
        background-color: #ffb347;
      }
      .sparkline-totals-inner-violet {
        background-color: #cb99c9;
      }

      .sparkline-totals-inner-high {
        background-color: #2ac8ef;
      }
      .sparkline-totals-inner-medium {
        background-color: $active;
      }
      .sparkline-totals-inner-low {
        background-color: $ended;
      }
    }

  }

  .thumb-title-container {
    float: left;
    padding-top: 4px;
  }

  .thumb-title {
    color: $exec-font-dark-color;
    font-weight: $exec-font-bold;
    font-size: 15px !important;
  }

  .thumb-title-small {
    color: $exec-font-color;
    font-size: $exec-font-size-small-content;
    font-weight: $exec-font-semibold;
  }

  .thumb-icon {
    height: 57px;
    width: 57px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;

    .x-ie8 & {
      background-image: url(icons/pdf-small.png);
    }
  }



  .dashboard-dataview {
    padding: 10px 0px 8px 15px;
  }

  .thumb-download {
    height: 57px;
    width: 40px;

    background-image: url(../resources/ico/go-into.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;

    opacity: 0.5;

    float: right;
  }

  .thumb {
    display: table-cell;
    background-color: $exec-tile-background;
    padding: 16px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  }

  .thumb:hover {
    .thumb-download {
      opacity: 1;
    }
  }

  .thumb-wrap{
    display: table;
    float: left;
    width: 33%;
    //margin-left: 5px;
    padding: 5px;
  }

}

hr.hr-dashboard {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


@media screen and (max-width: 1250px) {
  .kpi-main .dashboard-dataview {
    padding: 10px 15px 8px;
  }
  .kpi-main .thumb-wrap {
    float: none;
    width: 100%;
  }
}

