$base-color: rgba(88,127,134,1);
$button-small-font-size: 13px;
$button-small-border-radius: 2px;
$button-small-line-height: 17px;
$button-medium-border-radius: $button-small-border-radius;
$button-large-border-radius: $button-small-border-radius;
$button-default-background-gradient: none;
$button-default-background-gradient-over: none;
$button-default-background-gradient-pressed: none;
$button-default-background-gradient-disabled: none;
$button-default-glyph-opacity: 0.9;
$button-toolbar-glyph-opacity: 0.9;
$panel-light-header-font-size: 14px;
$panel-header-font-size: 14px;
$panel-frame-border-radius: 0;
$grid-row-cell-focus-border-width: 0;