/* ui mixin: button-menu for of type: extjs-button-toolbar-medium-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: mix(#fff, $base-color, 40%);
$_arch_background-color-over: mix(#fff, $base-color, 50%);
$_arch_background-color-focus: mix(#fff, $base-color, 55%);
$_arch_background-color-pressed: mix(#fff, $base-color, 60%);
$_arch_background-color-focus-over: mix(#fff, $base-color, 60%);
$_arch_background-color-focus-pressed: mix(#fff, $base-color, 60%);
$_arch_color: rgba(70,70,70,1);
  @include extjs-button-toolbar-medium-ui(
    $ui:"button-menu",
    $border-radius: 0,
    $border-width: 0,
    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-focus-over: transparent,
    $border-color-focus-pressed: transparent,
    $border-color-disabled: transparent,
    $padding: $button-medium-padding,
    $text-padding: $button-medium-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $_arch_background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $_arch_background-color-focus-over,
    $background-color-focus-pressed: $_arch_background-color-focus-pressed,
    $background-color-disabled: transparent,
    $background-gradient: none,
    $background-gradient-over: none,
    $background-gradient-focus: none,
    $background-gradient-pressed: none,
    $background-gradient-focus-over: none,
    $background-gradient-focus-pressed: none,
    $background-gradient-disabled: none,
    $color: $_arch_color,
    $color-over: $button-toolbar-color-over,
    $color-focus: $button-toolbar-color-focus,
    $color-pressed: $button-toolbar-color-pressed,
    $color-focus-over: $button-toolbar-color-focus-over,
    $color-focus-pressed: $button-toolbar-color-focus-pressed,
    $color-disabled: $button-toolbar-color-disabled,
    $inner-border-width: 0,
    $inner-border-width-over: 0,
    $inner-border-width-focus: 0,
    $inner-border-width-pressed: 0,
    $inner-border-width-focus-over: 0,
    $inner-border-width-focus-pressed: 0,
    $inner-border-width-disabled: 0,
    $inner-border-color: transparent,
    $inner-border-color-over: transparent,
    $inner-border-color-focus: transparent,
    $inner-border-color-pressed: transparent,
    $inner-border-color-focus-over: transparent,
    $inner-border-color-focus-pressed: transparent,
    $inner-border-color-disabled: transparent,
    $body-outline-width-focus: 0,
    $body-outline-style-focus: none,
    $body-outline-color-focus: none,
    $font-size: $button-medium-font-size,
    $font-size-over: $button-medium-font-size-over,
    $font-size-focus: $button-medium-font-size-focus,
    $font-size-pressed: $button-medium-font-size-pressed,
    $font-size-focus-over: $button-medium-font-size-focus-over,
    $font-size-focus-pressed: $button-medium-font-size-focus-pressed,
    $font-size-disabled: $button-medium-font-size-disabled,
    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-focus-over: $button-medium-font-weight-focus-over,
    $font-weight-focus-pressed: $button-medium-font-weight-focus-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,
    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-focus-over: $button-medium-font-family-focus-over,
    $font-family-focus-pressed: $button-medium-font-family-focus-pressed,
    $font-family-disabled: $button-medium-font-family-disabled,
    $line-height: $button-medium-line-height,
    $icon-size: $button-medium-icon-size,
    $icon-spacing: $button-medium-icon-spacing,
    $glyph-color: $button-toolbar-glyph-color,
    $glyph-opacity: $button-toolbar-glyph-opacity,
    $arrow-width: $button-medium-arrow-width,
    $arrow-height: $button-medium-arrow-height,
    $split-width: $button-medium-split-width,
    $split-height: $button-medium-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-toolbar-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-toolbar-opacity-disabled,
    $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
  );
}
/* ui mixin: toolbar-dark for of type: extjs-toolbar-ui */
@if $include-ext-toolbar-toolbar != false {
  
  @include extjs-toolbar-ui(
    $ui:"toolbar-dark",
    $background-color: $base-color,
    $background-gradient: $toolbar-background-gradient,
    $vertical-spacing: $toolbar-vertical-spacing,
    $horizontal-spacing: $toolbar-horizontal-spacing,
    $border-color: $toolbar-border-color,
    $border-width: $toolbar-border-width,
    $border-style: $toolbar-border-style,
    $spacer-width: $toolbar-spacer-width,
    $separator-color: $toolbar-separator-color,
    $separator-highlight-color: $toolbar-separator-highlight-color,
    $separator-horizontal-margin: $toolbar-separator-horizontal-margin,
    $separator-horizontal-height: $toolbar-separator-horizontal-height,
    $separator-horizontal-border-style: $toolbar-separator-horizontal-border-style,
    $separator-horizontal-border-width: $toolbar-separator-horizontal-border-width,
    $separator-vertical-margin: $toolbar-separator-vertical-margin,
    $separator-vertical-border-style: $toolbar-separator-vertical-border-style,
    $separator-vertical-border-width: $toolbar-separator-vertical-border-width,
    $text-font-family: $toolbar-text-font-family,
    $text-font-size: $toolbar-text-font-size,
    $text-font-weight: $toolbar-text-font-weight,
    $text-color: $toolbar-text-color,
    $text-line-height: $toolbar-text-line-height,
    $text-padding: $toolbar-text-padding,
    $scroller-width: $toolbar-scroller-width,
    $scroller-height: $toolbar-scroller-height,
    $scroller-vertical-width: $toolbar-scroller-vertical-width,
    $scroller-vertical-height: $toolbar-scroller-vertical-height,
    $scroller-border-color: $toolbar-scroller-border-color,
    $scroller-border-width: $toolbar-scroller-border-width,
    $scroller-vertical-border-color: $toolbar-scroller-vertical-border-color,
    $scroller-vertical-border-width: $toolbar-scroller-vertical-border-width,
    $scroller-top-margin: $toolbar-scroller-top-margin,
    $scroller-right-margin: $toolbar-scroller-right-margin,
    $scroller-bottom-margin: $toolbar-scroller-bottom-margin,
    $scroller-left-margin: $toolbar-scroller-left-margin,
    $scroller-cursor: $toolbar-scroller-cursor,
    $scroller-cursor-disabled: $toolbar-scroller-cursor-disabled,
    $scroller-opacity: $toolbar-scroller-opacity,
    $scroller-opacity-over: $toolbar-scroller-opacity-over,
    $scroller-opacity-pressed: $toolbar-scroller-opacity-pressed,
    $scroller-opacity-disabled: $toolbar-scroller-opacity-disabled,
    $tool-background-image: $toolbar-tool-background-image,
    $classic-scrollers: $toolbar-classic-scrollers
  );
}
/* ui mixin: toolbar-light for of type: extjs-toolbar-ui */
@if $include-ext-toolbar-toolbar != false {
  $_arch_background-color: mix($base-color, $neutral-light-color, 60%);
  @include extjs-toolbar-ui(
    $ui:"toolbar-light",
    $background-color: $_arch_background-color,
    $background-gradient: $toolbar-background-gradient,
    $vertical-spacing: $toolbar-vertical-spacing,
    $horizontal-spacing: $toolbar-horizontal-spacing,
    $border-color: $toolbar-border-color,
    $border-width: $toolbar-border-width,
    $border-style: $toolbar-border-style,
    $spacer-width: $toolbar-spacer-width,
    $separator-color: $toolbar-separator-color,
    $separator-highlight-color: $toolbar-separator-highlight-color,
    $separator-horizontal-margin: $toolbar-separator-horizontal-margin,
    $separator-horizontal-height: $toolbar-separator-horizontal-height,
    $separator-horizontal-border-style: $toolbar-separator-horizontal-border-style,
    $separator-horizontal-border-width: $toolbar-separator-horizontal-border-width,
    $separator-vertical-margin: $toolbar-separator-vertical-margin,
    $separator-vertical-border-style: $toolbar-separator-vertical-border-style,
    $separator-vertical-border-width: $toolbar-separator-vertical-border-width,
    $text-font-family: $toolbar-text-font-family,
    $text-font-size: $toolbar-text-font-size,
    $text-font-weight: $toolbar-text-font-weight,
    $text-color: $toolbar-text-color,
    $text-line-height: $toolbar-text-line-height,
    $text-padding: $toolbar-text-padding,
    $scroller-width: $toolbar-scroller-width,
    $scroller-height: $toolbar-scroller-height,
    $scroller-vertical-width: $toolbar-scroller-vertical-width,
    $scroller-vertical-height: $toolbar-scroller-vertical-height,
    $scroller-border-color: $toolbar-scroller-border-color,
    $scroller-border-width: $toolbar-scroller-border-width,
    $scroller-vertical-border-color: $toolbar-scroller-vertical-border-color,
    $scroller-vertical-border-width: $toolbar-scroller-vertical-border-width,
    $scroller-top-margin: $toolbar-scroller-top-margin,
    $scroller-right-margin: $toolbar-scroller-right-margin,
    $scroller-bottom-margin: $toolbar-scroller-bottom-margin,
    $scroller-left-margin: $toolbar-scroller-left-margin,
    $scroller-cursor: $toolbar-scroller-cursor,
    $scroller-cursor-disabled: $toolbar-scroller-cursor-disabled,
    $scroller-opacity: $toolbar-scroller-opacity,
    $scroller-opacity-over: $toolbar-scroller-opacity-over,
    $scroller-opacity-pressed: $toolbar-scroller-opacity-pressed,
    $scroller-opacity-disabled: $toolbar-scroller-opacity-disabled,
    $tool-background-image: $toolbar-tool-background-image,
    $classic-scrollers: $toolbar-classic-scrollers
  );
}
/* ui mixin: toolbar-plain for of type: extjs-toolbar-ui */
@if $include-ext-toolbar-toolbar != false {
  
  @include extjs-toolbar-ui(
    $ui:"toolbar-plain",
    $background-color: $base-highlight-color,
    $background-gradient: $toolbar-background-gradient,
    $vertical-spacing: $toolbar-vertical-spacing,
    $horizontal-spacing: $toolbar-horizontal-spacing,
    $border-color: $toolbar-border-color,
    $border-width: $toolbar-border-width,
    $border-style: $toolbar-border-style,
    $spacer-width: $toolbar-spacer-width,
    $separator-color: $toolbar-separator-color,
    $separator-highlight-color: $toolbar-separator-highlight-color,
    $separator-horizontal-margin: $toolbar-separator-horizontal-margin,
    $separator-horizontal-height: $toolbar-separator-horizontal-height,
    $separator-horizontal-border-style: $toolbar-separator-horizontal-border-style,
    $separator-horizontal-border-width: $toolbar-separator-horizontal-border-width,
    $separator-vertical-margin: $toolbar-separator-vertical-margin,
    $separator-vertical-border-style: $toolbar-separator-vertical-border-style,
    $separator-vertical-border-width: $toolbar-separator-vertical-border-width,
    $text-font-family: $toolbar-text-font-family,
    $text-font-size: $toolbar-text-font-size,
    $text-font-weight: $toolbar-text-font-weight,
    $text-color: $toolbar-text-color,
    $text-line-height: $toolbar-text-line-height,
    $text-padding: $toolbar-text-padding,
    $scroller-width: $toolbar-scroller-width,
    $scroller-height: $toolbar-scroller-height,
    $scroller-vertical-width: $toolbar-scroller-vertical-width,
    $scroller-vertical-height: $toolbar-scroller-vertical-height,
    $scroller-border-color: $toolbar-scroller-border-color,
    $scroller-border-width: $toolbar-scroller-border-width,
    $scroller-vertical-border-color: $toolbar-scroller-vertical-border-color,
    $scroller-vertical-border-width: $toolbar-scroller-vertical-border-width,
    $scroller-top-margin: $toolbar-scroller-top-margin,
    $scroller-right-margin: $toolbar-scroller-right-margin,
    $scroller-bottom-margin: $toolbar-scroller-bottom-margin,
    $scroller-left-margin: $toolbar-scroller-left-margin,
    $scroller-cursor: $toolbar-scroller-cursor,
    $scroller-cursor-disabled: $toolbar-scroller-cursor-disabled,
    $scroller-opacity: $toolbar-scroller-opacity,
    $scroller-opacity-over: $toolbar-scroller-opacity-over,
    $scroller-opacity-pressed: $toolbar-scroller-opacity-pressed,
    $scroller-opacity-disabled: $toolbar-scroller-opacity-disabled,
    $tool-background-image: $toolbar-tool-background-image,
    $classic-scrollers: $toolbar-classic-scrollers
  );
}